HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

application.properties

### Front End ###
/front-end/node_modules


/front-end/.pnp
/front-end/.pnp.js
/front-end/.yarn/install-state.gz

# testing
/front-end/coverage

# next.js
/front-end/.next/
/front-end/out/

# production
/front-end/build

# misc
/front-end/.DS_Store
/front-end/*.pem

# debug
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# local env files
/front-end/.env*.local

# vercel
/front-end/.vercel

# typescript
/front-end/*.tsbuildinfo
/front-end/next-env.d.ts
